.my_language{
    background-color: var(--clr-dark);
    color: var(--clr-light);  
}

.languages{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    position: relative;
}

.progressbar-wrapper{
    background-color: var(--clr-light);
    width: 70%;
    margin:auto;

}

.progressbar{
    background-color: var(--clr-accent);    
    padding: 1rem;    
    transition: width 2s;
    width: 0;
}

.img_language{
    object-fit: cover;
    width: 100%;
    height: 100%;
    padding:3rem;
    background-color: var(--clr-dark);
}