/* work at school */



.work-at-school {
    background-size: cover;
    /* background-blend-mode: multiply; */
    position: relative;
}


@media (min-width: 800px) {

    .work_at_school {
        background-color: var(--clr-accent);
        color: var(--clr-light);
        border: 1px solid #000; /* Couleur de la bordure et largeur de la bordure */
        margin: auto;
        display: grid;
        grid-template-areas: 
            "title img"
            "subtitle btn";
        grid-template-columns: 250px 1fr;
        grid-template-rows: 100px;
        grid-column-gap: 1em;
        position: relative;
        width: 700px; /* Ajustez la largeur selon vos besoins */
        height: 400px;
    }
}

@media (max-width: 800px) {
    .work_at_school {
        background-color: var(--clr-accent);
        color: var(--clr-light);
        border: 1px solid #000; /* Couleur de la bordure et largeur de la bordure */
        margin: auto;
        display: grid;
        grid-template-areas: 
            "title"
            "subtitle"
            "btn";
        
        grid-template-rows: 100px auto;
        grid-column-gap: 1em;
        position: relative;
        width: 70%; /* Ajustez la largeur selon vos besoins */
        height: auto;
    }
    .img__at-school {
        display:none;
    
    } 
}

.at_school__item {
    background: var(--clr-accent);
    overflow: hidden;
    position:relative;
}

.img__at-school {
    grid-area: img;
    margin: auto;
    overflow: hidden;
    position:relative;
    grid-area: img;
    width: auto;
    padding-top: 50px;

} 
.section__title--school{
    grid-area: title;
    padding-top: 40px;
    text-align: center;
}
.section__subtitle--school{
    grid-area: subtitle;
    text-align: center;
}

.btn__at-school{
    position: absolute;
    transform: translate(-50%, -50%);
    max-width: 50px;
    max-height: 50px;
    bottom:0%;
    left: 50%;
    z-index: 2;
}

.btn_school_on_image{


    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-light);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;

    grid-area: btn;
    height: 25px;
    z-index: 3;
    align-self: end;
    display: block;
    text-align: center;
    padding-bottom: 50px;
}
    

.btn_school_on_image:hover {
    background-color: var(--clr-dark);
}
